[submodule "AmazonClone-Incomplete"]
	path = AmazonClone-Incomplete
	url = https://github.com/uditaswal/AmazonClone-Incomplete.git
[submodule "To-Do-App"]
	path = To-Do-App
	url = https://github.com/uditaswal/JS-To-Do-App.git
