@import "tailwindcss";

@tailwind utilities;

body{
    text-align: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    height: 100vh;
}

*{
    font-family: 'Times New Roman', Times, serif;
}

@layer utilities {
    /* Custom Background Color */
    .bg-mygrey {
      @apply bg-[rgba(36,34,34,0.579)];
    }

    /* Custom Placeholder Color */
    .textbox-mygrey {
      @apply placeholder-gray-500;
    }

    /* Custom Button */
    .btn {
    @apply px-6 py-2 bg-blue-600 text-white font-semibold rounded-lg border border-gray-300 shadow-md 
           hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400/50 transition-all;
    }
  
    /* Button with No Left Border */
    .btn.no-left-border {
      @apply border-l-0 rounded-l-none;
    }
}

@layer components {
    .li-class {
        @apply flex justify-between text-white items-center p-2 bg-gray-800 rounded-md cursor-pointer  ;
    }
    
    .li-btn-class {
        @apply px-3 py-1 bg-white text-white rounded-md hover:bg-blue-400 transition;
    }
}
